Repository apache/daffodil-vscode, pull requests merged in 2022-07, with the labels that each got.

#206 Build Script & General updates
  build/scripts/omega_edit_download.ts
  build/scripts/process_build.ts
  package.json
  src/classes/artifact.ts
  src/daffodilDebugger.ts
  src/omega_edit/client.ts
  src/omega_edit/server.ts
  src/utils.ts
  tsconfig.json
  yarn.lock
Labels: build

#219 Update scala dependencies
  .github/workflows/scala-steward.yml
  .gitignore
  .scalafmt.conf
  build.sbt
  project/Rat.scala
  project/build.properties
  project/plugins.sbt
  server/core/src/main/scala/org.apache.daffodil.debugger.dap/Compiler.scala
  server/core/src/main/scala/org.apache.daffodil.debugger.dap/DAPodil.scala
  server/core/src/main/scala/org.apache.daffodil.debugger.dap/Parse.scala
Labels: dependencies

#233 Updates to README.md for artifact name changes
  README.md
Labels: documentation

#232 Update build script.
  .github/workflows/CI.yml
  README.md
  build/package/.vscodeignore
  build/package/LICENSE
  build/package/NOTICE
  build/scripts/package.ts
  build/scripts/process_build.ts
  package.json
Labels: build
