Repository apache/daffodil-vscode, pull requests merged in 2023-08, with the labels that each got.

#707 - Add missing element items xs:pattern, xs:totalDigits,
  src/language/providers/attributeCompletion.ts
  src/language/providers/elementCompletion.ts
  src/language/providers/intellisense/attributeItems.ts
  src/language/providers/intellisense/attributeValueItems.ts
  src/language/providers/intellisense/commonItems.ts
  src/language/providers/intellisense/elementItems.ts
  src/language/providers/utils.ts
  src/tests/suite/language/items.test.ts
Labels: bug, enhancement, code completion

#726 V1.3.1 RC1 Hotfix: Search Result Highlighting
  src/dataEditor/dataEditorClient.ts
  src/svelte/src/components/Header/fieldsets/SearchReplace.svelte
Labels: bug, data editor

#734 Update packaging to bundle the fonts and icons (.woff2 files)
  LICENSE
  README.md
  build/package/LICENSE
  build/package/NONOTICE
  webpack/ext-package.webpack.config.js
Labels: bug

#728 Data Editor Profiler & Selection Hotfix
  src/svelte/src/components/DataDisplays/Header/DisplayHeader.svelte
  src/svelte/src/components/DataMetrics/ByteFrequencyGraph.svelte
Labels: bug, typescript, data editor

#736 Fix DeltaXML Licensing
  build.sbt
  build/package/LICENSE
  project/Rat.scala
  src/language/semantics/dfdlExt.ts
  src/language/semantics/documentChangeHandler.ts
  src/language/semantics/functionData.ts
  src/language/semantics/xPathDocumentChangeHandler.ts
  src/language/semantics/xpLexer.ts
  src/language/semantics/xslLexer.ts
  src/language/semantics/xsltTokenDiagnostics.ts
Labels: bug, legal

#732 Data Editor File Traversal onclick Hotfix
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataLineFeed.svelte
  src/svelte/src/components/DataDisplays/CustomByteDisplay/FileTraversalIndicator.svelte
Labels: bug, typescript, data editor

#743 Fixes Editor Encoding Affecting Search Results
  src/svelte/src/components/Header/fieldsets/SearchReplace.svelte
Labels: bug, typescript, data editor

#740 dfdl:property missing from suggestions for dfdl:element and dfdl:simpleType
  src/language/providers/attributeCompletion.ts
  src/language/providers/elementCompletion.ts
Labels: bug, code completion

#751 fix the header min/max button icons
  src/svelte/src/components/Header/Header.svelte
Labels: bug, data editor

#764 Implemented Selection Indicators For Data Editor
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataLineFeed.svelte
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataValue.svelte
  src/svelte/src/utilities/highlights.ts
Labels: enhancement, typescript, data editor

#758 rename commit to apply
  src/dataEditor/dataEditorClient.ts
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataLineFeed.svelte
  src/svelte/src/components/DataDisplays/CustomByteDisplay/SelectedByteEdit.svelte
  src/svelte/src/components/DataDisplays/DataViewports.svelte
  src/svelte/src/components/DataDisplays/Fieldsets/ContentControls.svelte
  src/svelte/src/components/DataDisplays/Fieldsets/DataView.svelte
  src/svelte/src/components/Editors/DataEditor.svelte
  src/svelte/src/components/Header/fieldsets/FileMetrics.svelte
  src/svelte/src/components/Main.svelte
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/stores/index.ts
  src/svelte/src/utilities/message.ts
Labels: typescript, data editor

#766 Add missing dependencies to LICENSE, NOTICE and NONOTICE.
  build/package/LICENSE
  build/package/NONOTICE
  build/package/NOTICE
  package.json
Labels: legal

#768 Resolves Svelte Debug Src Minification
  package.json
Labels: javascript, build, typescript, data editor, extension

#778 Use jsonc-parser instead of JSON.parse
  build/package/LICENSE
  package.json
  src/daffodilDebugger/daffodil.ts
  src/infoset.ts
  src/launchWizard/launchWizard.ts
  src/tests/suite/version.test.ts
  src/utils.ts
  webpack/ext-dev.webpack.config.js
  webpack/ext-package.webpack.config.js
Labels: javascript, legal, typescript, extension

#777 Cleaning Data Editor Legacy Code
  src/svelte/src/components/DataDisplays/CustomByteDisplay/BinaryData.ts
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataLineFeed.svelte
  src/svelte/src/components/DataDisplays/CustomByteDisplay/FileTraversalIndicator.svelte
  src/svelte/src/components/DataDisplays/CustomByteDisplay/SelectedByteEdit.svelte
  src/svelte/src/components/DataDisplays/DataViewports.svelte
  src/svelte/src/components/DataDisplays/Fieldsets/ContentControls.svelte
  src/svelte/src/components/DataDisplays/Fieldsets/DataView.svelte
  src/svelte/src/components/DataDisplays/Header/DisplayHeader.svelte
  src/svelte/src/components/DataMetrics/ByteFrequencyGraph.svelte
  src/svelte/src/components/Header/Header.svelte
  src/svelte/src/components/Header/fieldsets/FileMetrics.svelte
  src/svelte/src/components/Header/fieldsets/FileMetrics.ts
  src/svelte/src/components/Header/fieldsets/SearchReplace.svelte
  src/svelte/src/components/Header/fieldsets/SearchReplace.ts
  src/svelte/src/components/Header/fieldsets/Settings.svelte
  src/svelte/src/components/Inputs/Buttons/Button.svelte
  src/svelte/src/components/Inputs/Buttons/ToggleableButton.svelte
  src/svelte/src/components/ServerMetrics/ServerMetrics.svelte
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/components/layouts/Tooltip.svelte
  src/svelte/src/stores/configuration.ts
  src/svelte/src/stores/index.ts
  src/svelte/src/utilities/display.ts
  src/svelte/src/utilities/highlights.ts
Labels: javascript, typescript, code quality, data editor, extension

#779 Overload DAPSession.abort to log Throwable.
  debugger/src/main/scala/org.apache.daffodil.debugger.dap/DAPodil.scala
Labels: bug, scala, debugger

#780 Missing dfdl:element fix
  src/language/providers/elementCompletion.ts
Labels: bug, typescript, code completion

#781 Add missing deps to LICENSE
  build/package/LICENSE
Labels: legal

#782 Fix Button Collapse Bug
  src/svelte/src/components/Inputs/Buttons/Button.svelte
  src/svelte/src/utilities/display.ts
Labels: bug, typescript, data editor

#814 Implement Byte Insertion Keybinds Hotfix
  src/svelte/src/components/DataDisplays/CustomByteDisplay/SelectedByteEdit.svelte
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/utilities/elementKeypressEvents.ts
  src/svelte/src/utilities/enterKeypressEvents.ts
Labels: bug, enhancement, typescript, data editor

#816 use lowercase for hex in the Data Editor
  src/dataEditor/dataEditorClient.ts
  src/svelte/src/components/DataDisplays/Header/DisplayHeader.svelte
  src/svelte/src/components/DataMetrics/ByteFrequencyGraph.svelte
  src/svelte/src/components/ServerMetrics/ServerMetrics.svelte
  src/svelte/src/stores/index.ts
Labels: bug, typescript, data editor

#820 Fix File/Viewport Navigation Issue
  src/dataEditor/dataEditorClient.ts
  src/svelte/src/components/DataDisplays/CustomByteDisplay/BinaryData.ts
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataLineFeed.svelte
  src/svelte/src/components/DataDisplays/DataViewports.svelte
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/stores/configuration.ts
Labels: bug, typescript, data editor, extension

#822 Fixed Multiple Data Editor Editing / Display Items
  src/svelte/src/components/DataDisplays/CustomByteDisplay/BinaryData.ts
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataLineFeed.svelte
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataValue.svelte
  src/svelte/src/components/DataDisplays/CustomByteDisplay/FileTraversalIndicator.svelte
  src/svelte/src/components/DataDisplays/DataViewports.svelte
  src/svelte/src/components/Editors/DataEditor.svelte
  src/svelte/src/components/Header/fieldsets/SearchReplace.svelte
  src/svelte/src/components/Header/fieldsets/Settings.svelte
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/stores/index.ts
  src/svelte/src/utilities/display.ts
  src/svelte/src/utilities/elementKeypressEvents.ts
  src/svelte/src/utilities/highlights.ts
Labels: bug, enhancement, typescript, data editor, extension

#828 Fix Issue of Byte Value 0 to Display Null
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataLineFeed.svelte
Labels: bug, typescript, data editor
