Repository apache/daffodil-vscode, pull requests merged in 2023-04, with the labels that each got.

#564 gotoOffset operation revised.
  src/svelte/src/components/dataEditor.svelte
Labels: bug, typescript, data editor

#569 Updated color theme component visibility.
  src/svelte/src/components/dataEditor.svelte
Labels: bug, typescript, data editor

#570 Clear selection data when ephemeral windows close
  src/svelte/src/components/dataEditor.svelte
Labels: bug, typescript, data editor

#575 Reworded Replace err msg and ergonomic enhancements
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/stores/index.ts
Labels: typescript, code quality, data editor

#581 add Hitesh Dalsania as a project collaborator
  .asf.yaml
Labels: documentation

#566 upgrade to omega-edit 0.9.63
  package.json
  src/adapter/activateDaffodilDebug.ts
  src/dataEdit/client.ts
  src/dataEdit/dataEditWebView.ts
  src/dataEdit/svelteWebviewInitializer.ts
  src/dataEdit/utils.ts
  src/omega_edit/client.ts
  src/styles/styles.css
  src/svelte/src/components/dataEditor.svelte
  src/tests/runTest.ts
  src/tests/suite/dataEditor.test.ts
  yarn.lock
Labels: enhancement, dependencies, data editor

#582 omega-edit client get specified port from launch.json
  src/dataEdit/client.ts
Labels: bug, typescript

#585 Search Scrolling Index Lag Fixed
  src/svelte/src/components/dataEditor.svelte
Labels: bug, typescript, data editor

#590 omega-edit release fix
  build/package/.vscodeignore
Labels: bug

#589 add Nicholas Lewis as a project collaborator
  .asf.yaml
Labels: documentation
