Repository apache/daffodil-vscode, pull requests merged in 2023-09, with the labels that each got.

#841 upgrade to Ωedit™ v0.9.73
  .github/workflows/CI.yml
  package.json
  src/adapter/daffodilDebug.ts
  src/dataEditor/dataEditorClient.ts
  src/dataEditor/demos/demo-highlight_overlays.html
  src/dataEditor/demos/demo-infinite_scrolling.html
  src/svelte/src/components/DataMetrics/DataMetrics.svelte
  src/svelte/src/components/Header/fieldsets/FileMetrics.svelte
  src/svelte/src/components/ServerMetrics/ServerMetrics.svelte
  src/tests/suite/dataEditor.test.ts
  yarn.lock
Labels: dependencies, data editor

#854 fix yarn.lock so it correctly matches the deps in package.json
  yarn.lock
Labels: bug, dependencies

#856 update nightly CI to test under node 16 and 18
  .github/workflows/nightly.yml
Labels: testing, build, CI

#837 Implemented Relative Seek Offset Traversal
  src/svelte/src/components/DataDisplays/Header/DisplayHeader.svelte
  src/svelte/src/components/Error/Error.svelte
  src/svelte/src/components/Header/fieldsets/SearchReplace.svelte
  src/svelte/src/components/Header/fieldsets/SearchReplace.ts
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/stores/index.ts
Labels: enhancement, typescript, data editor

#727 initial testing checklist
  src/tests/README.md
Labels: documentation, testing

#858 remove debugger server from yarn watch
  build/yarn-scripts.ts
  debugger/nodemon.json
  package.json
  project/Rat.scala
  yarn.lock
Labels: bug, build, debugger
