Repository apache/daffodil-vscode, pull requests merged in 2023-06, with the labels that each got.

#663 Throw parse errors
  .gitignore
  server/core/src/main/scala/org.apache.daffodil.debugger.dap/Parse.scala
  src/adapter/activateDaffodilDebug.ts
  src/adapter/debugAdapter.ts
  src/adapter/extension.ts
Labels: bug, scala, typescript

#664 Launch Wizard Validation
  src/daffodilDebugger.ts
  src/launchWizard/launchWizard.js
  src/launchWizard/launchWizard.ts
Labels: typescript

#666 Remove blocking dialogs for debugger errors
  server/core/src/main/scala/org.apache.daffodil.debugger.dap/DAPodil.scala
  server/core/src/main/scala/org.apache.daffodil.debugger.dap/ErrorEvents.scala
  src/adapter/activateDaffodilDebug.ts
  src/adapter/daffodilEvent.ts
  src/infoset.ts
  src/utils.ts
Labels: bug, scala, typescript, debugger

#677 Launch Wizard updates based on 1.3.0-rc3 issues
  package.json
  src/daffodilDebugger.ts
  src/launchWizard/launchWizard.js
  src/launchWizard/launchWizard.ts
  src/styles/styles.css
  src/tests/suite/utils.test.ts
  src/utils.ts
Labels: bug, typescript
