Repository apache/daffodil-vscode, pull requests merged in 2023-10, with the labels that each got.

#862 add Makefile to create docx documents from the wiki
  .gitignore
  doc/Makefile
Labels: documentation

#879 Implemented Configurable Data Viewport Geometry
  src/svelte/src/components/DataDisplays/CustomByteDisplay/BinaryData.ts
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataLineFeed.svelte
  src/svelte/src/components/DataDisplays/Header/DisplayHeader.svelte
  src/svelte/src/components/Editors/DataEditor.svelte
  src/svelte/src/components/Header/fieldsets/Settings.svelte
  src/svelte/src/components/Icons/ViewportVisibilityIcon.svelte
  src/svelte/src/components/Inputs/Buttons/Button.svelte
  src/svelte/src/components/Main.svelte
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/components/globalStyles.css
  src/svelte/src/stores/configuration.ts
  src/svelte/src/stores/index.ts
Labels: enhancement, typescript, code quality, data editor

#838 Implementing Help Component
  src/svelte/src/components/DataDisplays/Header/DisplayHeader.svelte
  src/svelte/src/components/Editors/DataEditor.svelte
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/components/globalStyles.css
  src/svelte/src/components/layouts/Help.svelte
  src/svelte/src/components/layouts/Help.ts
  src/svelte/src/components/layouts/HelpIcon.svelte
  src/svelte/src/components/layouts/Tooltip.svelte
  src/svelte/src/stores/index.ts
Labels: bug, enhancement, typescript, data editor

#874 Adds hover functionality for attribute items
  src/language/dfdl.ts
  src/language/providers/attributeHover.ts
  src/language/providers/intellisense/attributeHoverItems.ts
Labels: enhancement, typescript, code completion

#881 upgrade Ωedit™ to v0.9.75
  package.json
  src/dataEditor/dataEditorClient.ts
  yarn.lock
Labels: dependencies, data editor
