Repository apache/daffodil-vscode, pull requests merged in 2024-02, with the labels that each got.

#964 Fix error thrown when using ${command:AskForSchemaName}
  src/daffodilDebugger/debugger.ts
Labels: bug

#961 DataEditorClient Content Disposal Resolution
  src/dataEditor/dataEditorClient.ts
Labels: bug, typescript, data editor, debugger, configuration, extension

#969 Fixed DFDL byte pos event seeking in viewport
  src/svelte/src/components/DataDisplays/CustomByteDisplay/DataLineFeed.svelte
  src/svelte/src/components/dataEditor.svelte
  src/svelte/src/stores/index.ts
  src/svelte/src/utilities/highlights.ts
Labels: bug, typescript, data editor, debugger, extension
