Repository apache/daffodil-vscode, pull requests merged in 2025-08, with the labels that each got.

#1336 Prompt for TDML test case name and description before starting the de…
  package.json
  src/adapter/activateDaffodilDebug.ts
  src/classes/tdmlConfig.ts
  src/daffodilDebugger/debugger.ts
  src/utils.ts
Labels: bug, TDML

#1372 1355 - return if user cancels during file prompts
  package.json
  src/adapter/activateDaffodilDebug.ts
  src/daffodilDebugger/debugger.ts
Labels: debugger

#1361 Ctc oss 1297 execute tdml
  src/adapter/activateDaffodilDebug.ts
  src/dataEditor/dataEditorClient.ts
Labels: bug

#1368 Address missing "${workspaceFolder}" and "${omegaEditPort}.log" when …
  package.json
Labels: bug
