Repository apache/daffodil-vscode, pull requests merged in 2025-04, with the labels that each got.

#1184 Add GitHub action to create release candidates
  .github/workflows/release-candidate.yml
  VERSION
  build.sbt
  project/Rat.scala
Labels: build, CI

#1228 Resolve issue that could cause the debugger to hang
  debugger/src/main/scala/org.apache.daffodil.debugger.dap/Parse.scala
Labels: bug, debugger

#1227 Address incorrect relative paths when Copying or Appending TDML
  src/tdmlEditor/utilities/tdmlXmlUtils.ts
Labels: bug, typescript, TDML
