Repository apache/daffodil-vscode, pull requests merged in 2025-02, with the labels that each got.

#1154 Output TDML errors via vscode pop-up
  src/tdmlEditor/utilities/tdmlXmlUtils.ts
Labels: typescript, debugger, TDML

#1171 Update .asf.yaml to add JeremyYao as collaborator
  .asf.yaml
Labels: configuration

#1173 Enable reproducible JAXB generated TDML code
  build.sbt
  debugger/src/main/resources/bindings.xjb
  debugger/src/main/scala/org.apache.daffodil.tdml/TDML.scala
  debugger/src/test/scala/org.apache.daffodil.tdml/TDMLSuite.scala
Labels: scala, TDML
